<!doctype html>
<link rel="stylesheet" href="../static/style.css" integrity="sha384-+yKgyo8wq17j/RdhP7M3AR06Cd3v+VaqBrnZ7OXz6g9k1E1baTUYt0AOsvwf16RT" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha384-YkYpnhy3j3+zc3fQvzlbh4WGwDgt+06gsGsaApwM1O3IKIsKJk61C0Lr6YvbovUV" crossorigin="anonymous"></script>
<script src="../static/upload.js" integrity="sha384-uLH86RYKAOCVeDOH2d+yrItTdiPtTu85rrP/D73YWd4OYvf+gJB4Ewy3fofRPVA3" crossorigin="anonymous"></script>

<div>
    <input type="file" id="file">
    <br><br>
    <input type="password" id="password">
    <br><br>
    <button onclick="encryptFileAndUpload()">Encrypt</button>
</div>

<form name="encrypted" enctype="multipart/form-data" method="post">
    <input type="hidden" name="data">
</form>
